<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huajiaoye.jdbc.CityMapper">

    <!-- 定义查询语句 ,id 是函数名-->
    <select id="getCityById" resultType="com.huajiaoye.jdbc.City">
        SELECT * FROM city WHERE id = #{id}
    </select>
    <!-- 添加其他 SQL 映射语句 -->

</mapper>
